body {
	font-family: 'Oswald', sans-serif;
	color:#121212;
	font-size: 10px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #121212;
}

.header {
	height: 493px;
	background-color: #000;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
}

.header_top {
	display: flex;
	justify-content: space-between;
}

.vector>img {
	position: absolute;
	left: 3px;
	top: 44px;
}

.airplane {
	position: absolute;
	left: 495px;
	top: 97px;
}

.backgraund_img {
	position: absolute;
	z-index: 1;
	right: 0px;
	top:0px;
}

.nav {
	z-index: 2;
	margin-top: 47px;
}

.nav_div .nav_ul {
	width: 387px;
	display: flex;
	justify-content: space-between;
}

.nav_ul .nav_li > a {
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 1;
	line-height: 19px;
	color: #fff;
	transition: color .3s;
}

.nav_li > a:hover {
	color: #F1B341;
}

.blog_text {
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 1.5;
	z-index: 3;
	color: #fff;
	margin-top: 99px;
}

.text {
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	margin-top: 21px;
}












.menu {
	display: flex;
	justify-content: center;
	margin-top: 74px;
}

.menu_ul {
	display: flex;
	flex-direction: row;
}

.menu_li > a {
	position: relative;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	margin-right: 78px;

}
.menu_ul > .menu_li:last-child a {
	margin-right: 0px;

}

.menu_li > a:after {
	display: block;
	position: absolute;
	margin-top: 9px;
	left: 0;
	width: 0;
	height: 2px; 
	background-color:  #F1B341; 
	content: "";
	transition: width 0.3s ease-out; 
}

.menu_li > a:hover:after{
	width: 100%;
}

.menu_li > a:focus {
	color: #F1B341;
}









.article_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.article {
	width: 334px;
	margin-top: 73px;
	margin-bottom: -42px;
}

.article_photo {
	width: 334px;
	height: 240px;
	margin-bottom: 17px;
}

.article_name {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	height: 72px;
	margin-bottom: 13px;
}

.article_text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.4;
	max-height: 231px;
	overflow: hidden;
	margin-bottom: 5px;

}

.article_btn_detail {
	color:#F1B341;
	border: none;
	background: none;
	padding-top: 7px;
	padding-left: 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.4;

}

.pagination {
	display: flex;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 118px;
}

.number_page {
	display: inline-block;
	border: 1px solid #121212;
	padding: 9px 15px 7px 15px;
	margin-left: 13px;
}

.points {
	margin-left: 19px;
	padding-bottom: 2px;
	display: flex;
	align-items: flex-end;
}

.arrow {
	margin-left: 13px;
	padding-bottom: 10px;
	display: flex;
	align-items: flex-end;
}

.pagination > .number_page:hover, .pagination > a:hover {
	color: #F1B341;
	border-color:#F1B341;: 
}

.popular_header {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 1.5;
	margin-top: 19px;
}

.popular_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-top: 50px;

}

.popular_article_photo {
	margin-bottom: 16px;
}

.popular_article_name {
	font-size: 24px;
	line-height: 1.5;
	width: 334px;
	margin-bottom: 53px;

}

.invite_title {
	font-size: 48px;
	line-height: 1.5;
	margin-bottom: 33px;
}

.invite_photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.footer {
	height: 255px;
	background: #000;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.footer .container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;

}


.company_info {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	color: #F2F2F2;
	transform: translate(-110px);
	width: 640px;
	display: flex;
	justify-content: space-between;

}

.socialNetwork {
	transform: translate(115px, -8px);
	width: 186px;
	display: flex;
	justify-content: space-between;
}

.twitter {
	padding-top: 6px;
}

.socialNetwork > a {
	transition: all .3s;
}

.socialNetwork > a:hover {
	transform: scale(1.3, 1.3);
}



/*-----------------------for device from 375px to 768px--------------------------*/



@media (min-width: 375px) and (max-width: 768px) {

	.container {
		padding: 0 15px;
	}

	.vector > img {
		width: 295px;
		height: 97px;
		left: -3px;
		top: 57px;
		z-index: 1100;
	}

	.airplane {
		width: 24.6px;
		height: 24.6px;
		left: 285px;
		top: 84px;
		z-index: 1200;
	}

	.nav {
		margin-top: 34px;
	}

	.nav_ul .nav_li > a {
		font-size: 14px;
		line-height: 1.4;
	}

	.blog_text {
		font-size: 36px;
		line-height: 1.5;
		margin-top: 116px;
	}

	.text {
		font-size: 18px;
		line-height: 1.5;
		margin-top: 27px;
	}

	.menu {
		margin-top: 42px;
	}
	
	.news {
		margin: 0 auto;
	}

	.article_list {
		display: flex;
		justify-content: center;


	}

	.article {
		margin-top: 52px;
	}

	.pagination {
		margin-top: 110px;
	}

	.popular_header {

		margin-top: 44px;

	}

	.popular_list {
		display: flex;
		justify-content: center;
		margin-top: 42px;

	}








	.popular_article_name {
		margin-bottom: 42px;
	}

	.popular_article:nth-last-child(-n+2) {
		display: none;
	}

	.invite_photos {
		display: flex;
		justify-content: center;
		margin-bottom: 32px;
	}

	.invite_photos > a:nth-last-child(-n+2) {
		display: none;
	}

	.footer {
		height: 140px;
		background: #000;
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	.company_info {
		font-size: 12px;
		line-height: 1.4;
		transform: translateX(-15px);
		width: 433px;
		display: flex;
		justify-content: space-between;
	}

	.socialNetwork {
		transform: translate(15px,-8px);
		width: 140px;
		display: flex;
		justify-content: space-between;
	}

}




/*-----------------------for device to 375px--------------------------*/



@media (max-width: 375px) {

	.container {
		padding: 0 15px;
	}

	.vector>img {
		display: none;
	}

	.airplane {
		display: none;
	}

	.backgraund_img {
		position: absolute;
		z-index: 1;
		right: -160px;
		top:0px;
		height: 380px;
	}

	.nav {
		margin-top: 18px;
	}

	.nav_div .nav_ul{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.nav_ul .nav_li a {
		font-size: 0px;
	}

	.nav_li {
		height: 1px;
		width: 27px;
		border-bottom: 1px solid #fff;
		margin-top: 10px;
	}


	.blog_text {
		font-size: 36px;
		line-height: 1.5;
		margin-top: 26px;
	}

	.text {
		font-size: 16px;
		line-height: 1.5;
		margin-top: 17px;
		width: 250px;
	}

	.menu {
		margin-top: 28px;
	}

	.menu_ul {
		display: flex;
		flex-direction: column;
		border: 1px solid #F1B341;
		width: 344px;
		height: 41px;
		overflow: hidden;

	}

	.menu_li > a {
		margin-left: 18px;
	}

	.menu_ul:after {
		content: url(images/menu_arrow.png);
		display: inline-block;
		transform: translate(309px,-130px);
	}

	.menu_li > a:hover:after {
		width: 0px;
	}

	.article_list {	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;	
	}

	.article {
		margin-top: 42px;
		margin-bottom: 25px;

	}

	.pagination {
		margin-top: 38px;
	}

	.popular_article {
		margin-left: 5px;
	}

	.popular_header {
		margin-top: 38px;
		font-size: 36px;
		line-height: 1.5;
		margin-left: 5px;
		text-align: center;
	}

	.popular_list {
		margin-top: 38px;
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
	}

	.invite_title {
		font-size: 36px;
		line-height: 1.5;
		margin-top: -18px;
		margin-bottom: 31px;
		margin-left: 5px;
	}

	.invite_photos {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
		margin-right: 15px;
		margin-bottom: 38px;
		margin-left: 5px;
	}

	.footer {
		height: 229px;
		background: #000;
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.footer .container {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
	}


	.company_info {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.4;
		color: #F2F2F2;
		transform: none;
		width: 640px;
		display: flex;
		flex-direction: column;
		margin-top: 32px;
	}

	.company_info span {
		margin-bottom: 26px;
	}

	.socialNetwork {
		transform: none;
		margin-top: 15px;
		width: 140px;
		display: flex;
		justify-content: space-between;
	}

}