html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

body {
	font-family: 'Oswald', sans-serif;
	color:#121212;
	font-size: 10px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #121212;
}

.header {
	height: 493px;
	background-color: #000;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
}

.header_top {
	display: flex;
	justify-content: space-between;
}

.vector>img {
	position: absolute;
	left: 3px;
	top: 44px;
}

.airplane {
	position: absolute;
	left: 495px;
	top: 97px;
}

.backgraund_img {
	position: absolute;
	z-index: 1;
	right: 0px;
	top:0px;
}

.nav {
	z-index: 2;
	margin-top: 47px;
}

.nav_div .nav_ul {
	width: 387px;
	display: flex;
	justify-content: space-between;
}

.nav_ul .nav_li .nav_a {
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 1;
	line-height: 19px;
	color: #fff;
	transition: color .3s;
}

.nav_li .nav_a:hover {
	color: #F1B341;
}

.blog_text {
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 1.5;
	z-index: 3;
	color: #fff;
	margin-top: 99px;
}

.text {
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	margin-top: 21px;
}

.menu {
	display: flex;
	justify-content: center;
	margin-top: 74px;
}

.menu_ul {
	display: flex;
	flex-direction: row;
}

.menu_li .menu_a {
	position: relative;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	margin-right: 78px;
}

.menu_ul .menu_li:last-child .menu_a {
	margin-right: 0px;
}

.menu_li .menu_a:after {
	display: block;
	position: absolute;
	margin-top: 9px;
	left: 0;
	width: 0;
	height: 2px; 
	background-color:  #F1B341; 
	content: "";
	transition: width 0.3s ease-out; 
}

.menu_li .menu_a:hover:after{
	width: 100%;
}

.menu_li .menu_a:focus {
	color: #F1B341;
}

.article_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.article {
	width: 334px;
	margin-top: 73px;
	margin-bottom: -42px;
}

.article_photo {
	width: 334px;
	height: 240px;
	margin-bottom: 17px;
	transition: all .2s;
}

.article_photo:hover {
	filter: brightness(50%) saturate(150%);
}

.article_name {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	height: 72px;
	margin-bottom: 13px;
}

.article_name a:hover {
}

.article_text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.4;
	max-height: 231px;
	overflow: hidden;
	margin-bottom: 5px;
}

.article_btn_detail {
	color:#F1B341;
	border: none;
	background: none;
	padding-top: 7px;
	padding-left: 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.4;
	transition: 0.2s;
}

.article_btn_detail:after {
	display: block;
	position: absolute;
	margin-top: 0px;
	left: 0;
	width: 0;
	height: 1px; 
	background-color:  #F1B341; 
	content: "";
	transition: width 0.3s ease-out; 
}

.article_btn_detail:hover:after{
	width: 100%;
}

.article_btn_detail:hover {
	filter: saturate(150%);
}

.pagination {
	display: flex;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 118px;
}

.number_page {
	display: inline-block;
	border: 1px solid #121212;
	padding: 9px 15px 7px 15px;
	margin-left: 13px;
}

.points {
	margin-left: 19px;
	padding-bottom: 2px;
	display: flex;
	align-items: flex-end;
}

.arrow {
	margin-left: 13px;
	padding-bottom: 10px;
	display: flex;
	align-items: flex-end;
}

.pagination > .number_page:hover, .number_page:hover {
	color: #F1B341;
	border-color:#F1B341;: 
}

.popular_header {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 1.5;
	margin-top: 19px;
}

.popular_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-top: 50px;
}

.popular_article_photo {
	margin-bottom: 16px;
	transition: all .2s;
}

.popular_article_photo:hover {
	filter: brightness(50%) saturate(150%);
}

.popular_article_name {
	font-size: 24px;
	line-height: 1.5;
	width: 334px;
	margin-bottom: 53px;
}

.invite_title {
	font-size: 48px;
	line-height: 1.5;
	margin-bottom: 33px;
}

.invite_photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.invite_photos img {
	transition: all .2s;
}

.invite_photos img:hover {
	filter: brightness(50%) saturate(150%);
}

.footer {
	height: 255px;
	background: #000;
	background-size: cover;
	display: flex;
	align-items: center;
}

.footer .container {
	display: flex;
	width: 100%;
	margin-top: 16px;
	justify-content: space-between;
}

.socialNetworks {
	margin-left: 135px;
	width: 172px;
	display: flex;
	justify-content: space-between;
	margin-right: 15px;

}

.socialNetworks > a {
	margin-right: 10px;
	transition: all .2s;
}

.socialNetworks > a:hover {
	transform: scale(1.1,1.1);
	filter: brightness(40%) saturate(150%);
}

.twitter {
	padding-top: 5px;
}

.company_info {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	color: #F2F2F2;
	padding-top: 5px;
	margin-right: 135px;
	width: 789px;
	display: flex;
	justify-content: space-between;
}

.company_info span{
	margin-right: 5px: 
}



/*-----------------------for device from 375px to 768px--------------------------*/



@media (min-width: 375px) and (max-width: 768px) {

	.container {
		padding: 0 15px;
	}

	.vector > img {
		width: 295px;
		height: 97px;
		left: -3px;
		top: 57px;
		z-index: 1100;
	}

	.airplane {
		width: 24.6px;
		height: 24.6px;
		left: 285px;
		top: 84px;
		z-index: 1200;
	}

	.nav {
		margin-top: 34px;
	}

	.nav_ul .nav_li .nav_a {
		font-size: 14px;
		line-height: 1.4;
	}

	.blog_text {
		font-size: 36px;
		line-height: 1.5;
		margin-top: 116px;
	}

	.text {
		font-size: 18px;
		line-height: 1.5;
		margin-top: 27px;
	}

	.menu {
		margin-top: 42px;
	}
	
	.news {
		margin: 0 auto;
	}


	.article {
		margin-top: 52px;
	}


	.article_list {
		justify-content: center;
	}	

	.article {
		width: 364px;
		transform: translateX(15px);
	}

	.pagination {
		margin-top: 110px;
	}

	.popular_article {
		width: 364px;
		transform: translateX(15px);
	}

	.popular_header {
		transform: translateX(15px);
		margin-top: 44px;
	}

	.popular_list {
		margin-top: 42px;
		justify-content: center;
	}

	.popular_article_name {
		margin-bottom: 42px;
	}

	.popular_article:nth-last-child(-n+2) {
		display: none;
	}

	.invite_title {
		transform: translateX(15px);
	}

	.invite_photos {
		margin-bottom: 32px;
		justify-content: center;
	}

	.invite_photos > a {
		width: 364px;
		transform: translateX(15px);
	}

	.invite_photos > a:nth-last-child(-n+2) {
		display: none;
	}

	.footer {
		height: 140px;
	}

	.footer .container {
		margin-top: 9px;
	}


	.socialNetworks {
		margin-left: 7px;
		width: 169px;
		margin-right: 15px;
	}

	.company_info {
		margin-right: 7px;
		width: 500px;
	}

}



/*-----------------------for device to 375px--------------------------*/



@media (max-width: 375px) {

	.header {
		height: 380px;
		background-color: #000;
	}

	.container {
		padding: 0 15px;
	}

	.vector>img {
		display: none;
	}

	.airplane {
		display: none;
	}

	.backgraund_img {
		position: absolute;
		top: -20px;
		left: -202px;
		z-index: 1;
		clip: rect(0px, auto, 380px, 0px );
	}

	.nav {
		margin-top: 8px;
	}

	.nav_div .nav_ul{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.nav_ul .nav_li .nav_a {
		font-size: 0px;
	}

	.nav_li {
		height: 1px;
		width: 27px;
		border-bottom: 1px solid #fff;
		margin-top: 8px;
	}


	.blog_text {
		font-size: 36px;
		line-height: 1.5;
		margin-top: 30px;
	}

	.text {
		font-size: 16px;
		line-height: 1.5;
		margin-top: 17px;
		width: 250px;
	}

	.menu {
		margin-top: 28px;
	}

	.menu_ul {
		display: flex;
		flex-direction: column;
		border: 1px solid #F1B341;
		width: 344px;
		height: 41px;
		overflow: hidden;
		transition: all 0.5s;

	}


	.menu_open {
		height: 150px;
	}

	.menu_li .menu_a {
		margin-left: 18px;
	}

	.menu_ul:after {
		content: url(images/menu_arrow.png);
		display: inline-block;
		transform-origin: center center;
		transform: translate(309px,-130px) rotateX(0deg);
		transition: all 1.5s;
	}


	.menu_li .menu_a:hover:after {
		width: 0px;
	}

	.article_list {	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;	
	}

	.article {
		margin-top: 42px;
		margin-bottom: 25px;
		transform: translateX(4px);
	}

	.pagination {
		margin-top: 38px;
	}

	.popular_header {
		transform: translateX(0px);
	}

	.popular_article {
		transform: translateX(4px);
	}

	.popular_article:nth-last-child(-n+3) {
		display: none;
	}

	.popular_header {
		margin-top: 38px;
		font-size: 36px;
		line-height: 1.5;
		margin-left: 5px;

	}

	.popular_list {
		margin-top: 38px;
		margin-right: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
	}

	.invite_title {
		font-size: 36px;
		line-height: 1.5;
		margin-top: -18px;
		margin-bottom: 31px;
		margin-left: 5px;
		transform: translateX(0px);
	}

	.invite_photos {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
		margin-bottom: 38px;


	}

	.invite_photos a {
		transform: translateX(4px);
	}

	.invite_photos > a:nth-last-child(-n+3) {
		display: none;
	}

	.footer {
		height: 229px;
		background: #000;
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
	}



	.footer .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		width: 350px;
	}


	.company_info {
		font-size: 12px;
		line-height: 1.3;
		transform: none;
		width: 640px;
		display: flex;
		flex-direction: column;
		margin-top: 23px;
	}

	.company_info span {
		margin-bottom: 26px;
	}

	.socialNetworks {
		margin-top: 5px;
		width: 123px;

	}

}